@(contribution: Contribution)

@main("Contribution: Betterrev", false, true, false, false, false) {

<h1>Contribution Overview (#@contribution.pullRequestId)</h1>

@if(contribution.isDefaultBranch()) {
<div class="alert alert-danger">
    Sorry, we can't merge contributions from the default branch.
    For more information see the <a href="/help/">help</a>.
</div>
}

<div class="verticalSpacer"></div>

<div class="row">
    <div class="col-md-4">
        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-info-sign br-icon"></div>
            <div class="br-iconCaption">Key Info</div>

            <div class="contributionOverview-fieldName">Name</div>
            <div class="contributionOverview-fieldValue">@contribution.name</div>

            <div class="contributionOverview-fieldName">Repository</div>
            <div class="contributionOverview-fieldValue">@contribution.repositoryId</div>

            <div class="contributionOverview-fieldName contributionOverview-url">
                <a href="@contribution.pullRequestUrlForOwner()" target="_blank">BitBucket Pull Request Link</a>
            </div>

            <div class="contributionOverview-fieldName contributionOverview-url">
                <a href="@contribution.webrevLocation()" target="_blank">Webrev Link</a>
            </div>

            <div class="contributionOverview-fieldName">Description</div>
            <div class="contributionOverview-fieldValue">@contribution.description</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-user br-icon"></div>
            <div class="br-iconCaption">People</div>

            <div class="contributionOverview-fieldName">Requester</div>
            <div class="contributionOverview-fieldValue">@contribution.requester.name</div>

            @if(!contribution.isDefaultBranch()) {
            <div class="contributionOverview-fieldName">
                <a href="@contribution.mentorEmailsUrl()">Mentors</a>
            </div>
            <ul>
                @for(mentor <- contribution.mentors) {
                <li>@mentor.name (@mentor.email)</li>
                }
            </ul>
            }
        </div>

        <div class="verticalSpacer"></div>

        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-tags br-icon"></div>
            <div class="br-iconCaption">Tags</div>

            <ul>
                @for(tag <- contribution.tags) {
                <li>@tag.name</li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="contributionOverview-sectionBox">
            <div class="glyphicon glyphicon-time br-icon"></div>
            <div class="br-iconCaption">Timeline</div>

            <div class="contributionOverview-fieldName">Status</div>
            <div class="contributionOverview-fieldValue">
                <div class="contributionStatus @contribution.state">
                    @contribution.state
                </div>
            </div>

            <div class="contributionOverview-fieldName">Created On</div>
            <div class="contributionOverview-fieldValue">@(utils.DateTimePattern.format(contribution.createdOn))</div>

            <div class="contributionOverview-fieldName">Last Updated On</div>
            <div class="contributionOverview-fieldValue">@(utils.DateTimePattern.format(contribution.updatedOn))</div>

            <div class="contributionOverview-fieldName">Events</div>

            <ul>
                @for(contributionEvent <- contribution.contributionEvents) {
                <li>@contributionevent(contributionEvent)</li>
                }
            </ul>
        </div>
    </div>
</div>

}
