@(contributions:List[Contribution])

@main("Open Contributions: Betterrev", false, true, false, false, false) {

<table class="table">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Repository <i class="glyphicon glyphicon-question-sign" rel="tooltip"
                      title='@Messages("contribution.list.repository.tooltip")'></i></th>
    <th>Requester</th>
    <th>Created On</th>
    <th>Updated On</th>
    <th>BB <i class="glyphicon glyphicon-question-sign" rel="tooltip"
              title='@Messages("contribution.list.bb.tooltip")'></i></th>
    <th>Status</th>
    </thead>
    <tbody>
    @for(contribution <- contributions) {
    <tr>
        <td><a href="/contribution/@contribution.id/">@contribution.id</a></td>
        <td><a href="/contribution/@contribution.id/">@contribution.name</a></td>
        <td>@contribution.repositoryId</td>
        <td>@(contribution.requester.name)</td>
        <td>@(utils.DateTimePattern.format(contribution.createdOn))</td>
        <td>@(utils.DateTimePattern.format(contribution.updatedOn))</td>
        <!-- TODO Link this in later -->
        <td>@contribution.pullRequestId</td>
        <td>TODO - Derive from Events</td>
    </tr>
    }
    </tbody>
</table>

}
